.game {
  overflow: hidden;
  padding: 64px 32px;

  h1 {
    @media only screen and (min-width: 700px) {
      margin-top: 0;
    }
  }

  .game-video,
  .game-image {
    width: 100%;

    @media only screen and (min-width: 700px) {
      width: 320px;
      float: left;
      margin-right: 32px;
    }
  }

  .game-tagline {
    font-size: 1.25em;
  }

  .play {
    display: inline-block;
    border: 1px solid #844f4c;
    text-align: center;
    background: #844f4c;
    color: white;
    text-decoration: none;
    padding: 0.5em;
    margin-top: 0.67em;
    margin-right: 2em;
    width: 120px;
  }

  .pitch {
    border: 1px solid #2c3e50;
    color: #2c3e50;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
    margin-top: 0.67em;
    width: 120px;
  }

  .game-description {
    max-width: 960px;
    margin: auto;
  }
}
