.hero {
  background: #2c3e50;
  color: white;
  overflow: hidden;
  text-align: center;
  padding: 64px 0;

  h1 {
    font-weight: lighter;
    font-size: 35px;
    margin: 0;
  }

  p {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 0;
  }
}
