.hero {
  background: #e74c3c;
  color: white;
  overflow: hidden;
  text-align: center;
  padding: 5vw;

  h1 {
    font-weight: lighter;
    font-size: 8vw;
    margin: 0;
  }

  p {
    font-size: 3vw;
    margin: 0;
  }
}
