.landing-page {
  footer {
    text-align: center;
    color: white;
    background: #16222A;
    padding: 64px 32px;

    p, h1 {
      margin: 0;
    }

    h1 {
      margin-bottom: 64px;
    }
  }

  .games-built {
    margin-top: 0;
  }

  .creators {
    text-align: center;
    margin-top: 64px;
  }

  .creator {
    border-radius: 50px;
    margin-right: 0.5em;
  }

  a {
    color: inherit;
  }
}
